* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F5F6FA;
}

.nav-bar {
  position: fixed;
}

.nav-bar nav {
  background: #1CA6EB;
  line-height: 80px;
  position: fixed;
  width: 100%;
}

.nav-bar nav label {
  line-height: 80px;
  font-size: 30px;
  color: white;
  font-weight: 200;
  margin-left: 50px;
  cursor: pointer;
}

.nav-bar nav ul {
  float: right;
  margin-right: 20px;
}

.nav-bar nav ul li {
  line-height: 80px;
  margin: 0 10px;
}

.nav-bar nav ul li a {
  color: white;
  font-size: 20px;
  padding: 6px 15px;
  font-weight: 600;
  background-color: #3722f6;
  border-radius: 3px;
}

.nav-bar nav ul li a:hover {
  background-color: #311bd6;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-menu {
  position: fixed;
  background: #1CA6EB;
  width: 250px;
  height: 100%;
  margin-top: 80px;
}

.side-menu center img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-top: 30px;
  border: 3px solid white;
}

.side-menu center h2 {
  color: white;
}

.side-menu a {
  display: block;
  line-height: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.side-menu a:hover {
  background: #56b2dd;
  padding-left: 20px;
}

.side-menu span {
  font-size: 20px;
  margin-left: 10px;
  color: white;
}

.side-menu i {
  font-size: 20px;
  margin-left: 20px;
  color: white;
}

nav .menu-bar {
  float: right;
  margin-top: 20px;
  display: none;
  margin-right: 20px;
}

#menu, .side-menu .Logout {
  display: none;
}

@media (max-width: 850px) {
  .side-menu {
    width: 100px;
  }
  .side-menu a span, .side-menu center {
    display: none;
  }
  .side-menu a i {
    display: block;
    line-height: 80px;
    text-align: center;
    margin-left: 0;
    font-size: 35px;
  }
}

@media (max-width: 650px) {
  .data, nav ul {
    display: none;
  }
  .side-menu {
    width: 100%;
    text-align: center;
    left: 100%;
    background-color: #4c516d;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .side-menu a i {
    display: none;
  }
  .side-menu a span {
    display: block;
  }
  .side-menu .Logout {
    display: block;
  }
  nav .menu-bar {
    display: block;
  }
}

#menu:checked ~ .side-menu {
  left: 0;
}

/* ========content========= */
.body-container {
  margin-top: 85px;
  margin-left: 250PX;
  width: 100%;
}

.body-container .search {
  margin-top: 40PX;
  margin-bottom: 10px;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body-container .search .searchbox input {
  height: 46px;
  width: 700px;
  outline: none;
  border-color: #707070;
  border-radius: 5px;
}

.body-container .search .searchbox button {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #707070;
  color: #fff;
}

.body-container .search .edit-button button {
  border-radius: 5px;
  height: 50px;
  width: 250px;
  margin-left: 10px;
  outline: none;
  border: 1px;
}

.body-container .search .edit-button #add {
  background-color: #1CA6EB;
}

.body-container .search .edit-button #remove {
  background-color: #F02608;
}

.body-container table {
  /* display: block;
       
      font-size: 115%;
      overflow: auto; */
  margin-top: 10px;
  margin-left: 40px;
  width: 95%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.body-container table tr {
  height: 61px;
  text-align: center;
}

.body-container table tr img {
  width: 100px;
  height: 50px;
}

.body-container table tr .first {
  border-radius: 5px 0 0 5PX;
}

.body-container table tr .last {
  border-radius: 0 5PX 5PX 0;
}

.body-container table th {
  background-color: #1CA6EB;
  color: black;
  font-weight: normal;
  padding: 0px 30px;
}

.body-container table th .first .first {
  border-radius: 5px 0 0 5PX;
}

.body-container table .product-name {
  width: 300px;
  text-align: left;
}

.body-container table td {
  background-color: #fff;
  color: #6f6f6f;
  padding: 0px 30px;
}

.body-container table td .product-name {
  width: 300px;
  text-align: center;
}

.body-container table td .edit {
  width: 25px;
}

.body-container table td .view-btn {
  width: 150px;
  height: 61PX;
  background-color: #1CA6EB;
  border: none;
  outline: none;
  border-radius: 0px 5px 5px 0px;
  -webkit-transform: translateX(38px);
          transform: translateX(38px);
}

@media (max-width: 850px) {
  .body-container {
    margin-left: 100px;
  }
  th.id, td.id {
    display: none;
  }
  th.Category, td.Category {
    display: none;
  }
}
/*# sourceMappingURL=dashboard.css.map */