@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F6FA;
}

body section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body section .first-container {
  width: 400px;
  height: 100vh;
  background: #1ca6eb;
}

body section .first-container .menu {
  border: none;
}

body section .first-container .menu ul {
  margin-top: 50%;
}

body section .first-container .menu li {
  text-align: center;
  margin-bottom: 10px;
}

body section .first-container .menu li a {
  text-decoration: none;
  list-style: none;
  font-family: Poppins;
  font-weight: 600;
  font-size: 27px;
  text-align: center;
  color: #fff;
}

body section .second-container {
  margin-left: auto;
  margin-right: 60px;
  /* .detail-bar{
                    display: flex;
                    height: 60px;
                    align-items: center;
                    background-color: #fff;
                    
                    margin-bottom: 10px;
                    border-radius: 5px;
                    input{
                        margin-right: 50px; 
                        margin-left: 80px;
                        width: 20px;
                        height: 20px;
                        
                    }
                    h5{
                        margin-right: 100px;
                    }
                    .name{
                        padding-right: 350px;
                    }
                } */
  /* product box */
  /* .product-info{
                        align-items: center;
                        display: flex;
                        height: 60px;
                        background-color: #fff;
                        
                        border-radius: 5px;
                        input{
                            margin-left: 80px;
                            margin-right: 50px;
                            width: 20px;
                            height: 20px;
                        }
                        img{
                            margin-right: 38px;
                            transform: translateX(-30px);
                            width: 100px;
                            height: 50px;
                        }
                        .edit{
                            margin-right: 0;
                            width: 25px;
                            color: blue;
                        }
                        h5{
                            margin-right: 100px;
                            
                        }
                        .name{
                            width: 483px;
                            margin-right: 0;
                        }
                        BUtton{
                            height: 60px;
                            width: 80px;
                            background-color: #1CA6EB;
                            outline: none;
                            border: none;
                            border-radius: 5px;
                            transform: translateX(1);
                        }
                    } */
  /* end of product box */
  /* product table */
  /* end of product table */
}

body section .second-container .admin-info {
  margin-TOP: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 100px;
}

body section .second-container .admin-info img {
  margin: 10px;
}

body section .second-container .admin-info #setting {
  width: 25px;
}

body section .second-container .admin-info #notification {
  width: 25px;
}

body section .second-container .admin-info #profile {
  width: 80px;
  border-radius: 50%;
}

body section .second-container .search {
  margin-top: 10%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body section .second-container .search .searchbox input {
  height: 46px;
  width: 700px;
  outline: none;
  border-color: #707070;
  border-radius: 5px;
}

body section .second-container .search .searchbox button {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #707070;
  color: #fff;
}

body section .second-container .search .edit-button button {
  border-radius: 5px;
  height: 50px;
  width: 250px;
  margin-left: 10px;
  outline: none;
  border: 1px;
}

body section .second-container .search .edit-button #add {
  background-color: #1CA6EB;
}

body section .second-container .search .edit-button #remove {
  background-color: #F02608;
}

body section .second-container table {
  /* display: block;
                    font-family: sans-serif;
                    -webkit-font-smoothing: antialiased; */
  font-size: 115%;
  /* overflow: auto; */
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

body section .second-container table tr {
  height: 61px;
  text-align: center;
}

body section .second-container table tr img {
  width: 100px;
  height: 50px;
}

body section .second-container table th {
  background-color: #fff;
  color: black;
  font-weight: normal;
  padding: 0px 30px;
  border-radius: 5px;
}

body section .second-container table .product-name {
  width: 300px;
  text-align: left;
}

body section .second-container table td {
  background-color: #fff;
  color: #6f6f6f;
  padding: 0px 30px;
  border-radius: 5px;
}

body section .second-container table td .product-name {
  width: 300px;
  text-align: center;
}

body section .second-container table td .edit {
  width: 25px;
}

body section .second-container table td .view-btn {
  width: 150px;
  height: 61PX;
  background-color: #1CA6EB;
  border: none;
  outline: none;
  border-radius: 0px 5px 5px 0px;
  -webkit-transform: translateX(38px);
          transform: translateX(38px);
}
/*# sourceMappingURL=dashboard.css.map */